services:
  bot:
    build: .
    env_file: .env
    networks:
      - databases
    restart: unless-stopped
    volumes:
      - ./downloads:/app/downloads

networks:
  databases:
    external: true
